<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <bean name="carSubaru" class="CarWash.Car"><property name="name" value="Subaru"/></bean>
    <bean name="carZhiguli" class="CarWash.Car"><property name="name" value="Zhiguli"/></bean>
    <bean name="carMoskvich" class="CarWash.Car"><property name="name" value="Moskvich"/></bean>
    <bean name="carWash" class="CarWash.CarWash">
        <property name="cars">
            <!--<list value-type="CarWash.Washable">-->
                <!--<ref bean="carSubaru"/>-->
                <!--<ref bean="carZhiguli"/>-->
            <!--</list>-->

            <!--<util:list id="carList" value-type="CarWash.Washable">-->
                <!--<ref bean="carSubaru"/>-->
                <!--<ref bean="carZhiguli"/>-->
                <!--<ref bean="carMoskvich"/>-->
            <!--</util:list>-->

            <set>
                <ref bean="carSubaru"/>
                <ref bean="carZhiguli"/>
                <ref bean="carMoskvich"/>
                <ref bean="carSubaru"/>
            </set>
        </property>
        <property name="carsMap">
            <map>
                <entry key="1" value-ref="carSubaru"/>
                <entry key="2" value-ref="carMoskvich"/>
            </map>
        </property>
    </bean>


</beans>