<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="carSubaru" class="CarWash.Car"><property name="name" value="Subaru"/></bean>
    <bean name="carZhiguli" class="CarWash.Car"><property name="name" value="Zhiguli"/></bean>
    <bean name="carWash" class="CarWash.CarWash">
        <property name="cars">
            <list value-type="CarWash.Washable">
                <ref bean="carSubaru"/>
                <ref bean="carZhiguli"/>
            </list>
        </property>
    </bean>
</beans>